.login, .intro {
    background-color: #f7f8f9;
    width: 70%;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30%;
}

.intro {
    background-image: url('https://res.cloudinary.com/dd0yofein/image/upload/v1561645783/background_ehktj2.jpg');
    height: 1080px;
    width: 1920px;
    padding: 30px;
    margin: auto;
}

h3 {
    color: #f7f8f9
}

label {
    color: #8f9296;
    clear: left;
}

button {
    margin-right: 10px;
}

h2 {
    float: right;
}

.fas fa-paw {
    float: right;
}

.header-login {
    margin-bottom: 10px;
}

