.tundra-home {
    height: 720px;
}

body {
    background-image: url("./interlaced.png")!important;
}

.tundraDisplay {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    margin-bottom: 23%;
}